<!-- templates/change_lyrics.html -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>가사 PPT 생성</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='song_tooltip.css') }}">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
</head>
<body>
    <div class="container">
        <div class="breadcrumb-and-cancel">
            <div class="breadcrumb">
                <a href="{{ url_for('index') }}"><i class="fa-solid fa-house"></i></a> &gt;
                <a href="{{ url_for('change_lyrics_menu') }}">가사 PPT 생성</a>
            </div>
            <button class="cancel" onclick="window.location.href='{{ url_for('index') }}'">
                    <i class="fa-solid fa-xmark fa-2xl"></i>
            </button>
        </div>
        <div class="title">
            <h2>가사 PPT 생성</h2>
        </div>
        <div class="tips tooltip">
            <div class="question_mark">
                <i class="fa-regular fa-circle-question fa-lg question" style="line-height: 26px"></i>
            </div>
            <span class="tooltip-text">
                <h1>How to Use</h1>
                <p>
                    <h4>1. 패턴을 지정해놔서 패턴에 맞는 파일만 생성됩니다.<br></h4>
                    &nbsp;&nbsp;1) 2줄씩 한 세트로 한 슬라이드가 생성됩니다.<br><br>
                    &nbsp;&nbsp;2) 1줄이 중간에 남을 때!blank를 2줄 입력하면 빈 줄이 생성됩니다.<br><br>
                    &nbsp;&nbsp;3) 빈 슬라이드를 생성할 때에는 !empty_slide를 2줄 입력하면 빈 슬라이드가 생성됩니다.<br><br>
                    &nbsp;&nbsp;cf) !blank와 !empty_slide는 가사 맨 마지막 줄에 넣으면 인식되지 않습니다.<br><br>
                    &nbsp;&nbsp;cf) 자막 버전에서는 !blank가 작동하지 않고 !empty_slide만 가능합니다.
                </p>
                <p>
                    <h3>각 메뉴별 사용법</h3>
                        &nbsp;&nbsp;1. 송폼 입력하여 생성: 한글과 영어가 번갈아 이루어진 형식의 가사와 송폼을 입력하여 새로운 ppt 생성할 때 사용할 수 있습니다.<br><br>
                        &nbsp;&nbsp;2. 찬양 가사 생성: 한글과 영어가 번갈아 이루어진 형식의 가사를 입력하면 새로운 ppt 생성할 때 사용할 수 있습니다.<br><br>
                        &nbsp;&nbsp;3. 한글 가사 생성: 한글 가사만으로 이루어진 형식의 가사를 입력하면 새로운 ppt 생성할 때 사용할 수 있습니다.<br><br>
                        &nbsp;&nbsp;4. 영어 가사 생성: 영어 가사만으로 이루어진 형식의 가사를 입력하면 새로운 ppt 생성할 때 사용할 수 있습니다.<br><br>
                        &nbsp;&nbsp;5. 서울 찬양 가사 생성: 텍스트 박스가 위에 형성된 ppt 파일 생성할 때 사용할 수 있습니다.<br><br>
                        &nbsp;&nbsp;6. 찬양 가사 변경: 기존 가사 파일 형식만 있어 한글과 영어 가사를 변경할 때 사용할 수 있습니다.<br><br>
                        &nbsp;&nbsp;7. 한글 가사만 변경: 기존 가사 파일 형식이 있어 한글 가사만 변경하면 될 때 사용할 수 있습니다.<br><br>
                        &nbsp;&nbsp;8. 영어 가사만 변경: 기존 가사 파일 형식이 있어 영어 가사만 변경하면 될 때 사용할 수 있습니다.<br>
                </p>
            </span>
        </div>

        <div class="menu">
            <a href="{{ url_for('song_form_route', operation='song_form') }}" class="request-type">송폼 입력하여 생성</a>
            <a href="{{ url_for('change_lyrics_route', operation='create_lyrics') }}" class="request-type">찬양 가사 생성</a>
            <a href="{{ url_for('change_lyrics_route', operation='create_only_korean_lyrics') }}" class="request-type">한글 가사 생성</a>
            <a href="{{ url_for('change_lyrics_route', operation='create_only_english_lyrics') }}" class="request-type">영어 가사 생성</a>
            <a href="{{ url_for('change_lyrics_route', operation='create_subtitle_lyrics') }}" class="request-type">자막 가사 생성</a>
            <a href="{{ url_for('change_lyrics_route', operation='create_seoul_form') }}" class="request-type">서울 찬양 가사 생성</a>
            <a href="{{ url_for('change_lyrics_route', operation='change_lyrics') }}" class="request-type">찬양 가사 변경</a>
            <a href="{{ url_for('change_lyrics_route', operation='change_only_korean_lyrics') }}" class="request-type">한글 가사만 변경</a>
            <a href="{{ url_for('change_lyrics_route', operation='change_only_english_lyrics') }}" class="request-type">영어 가사만 변경</a>
        </div>
    </div>
</body>
</html>
